<div class="layout layout--row">
  {% render "error_message" with trmnl: trmnl, system_information: system_information %}
  <div
    class="columns"
    data-overflow="true"
    data-overflow-counter="true"
    data-overflow-max-cols="2"
  >
    <div class="column">
    {% for station in station_information %}
      {% assign status = station_status | where: "station_id", station.station_id | first %}
      {% render 'station_card' station: station, status: status, svg_bike: svg_bike, svg_dock: svg_dock %}
    {% else %}
    <div class="title title-large lg:title--xlarge">
      No stations matched criteria.
    </div>
    {% endfor %}
    </div>
  </div>
</div>

{% if station_information.size < 6 %}
<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ bcycle_logo | base64_encode }}" />
  <span class="title">{{ system_information.name }} Station Status</span>
</div>
{% endif %}
