<div class="layout layout--row">
  {% render "error_message" with trmnl: trmnl, system_name: system_name %}
  <div
    class="columns"
    data-overflow="true"
    data-overflow-counter="true"
    data-overflow-max-cols="2"
  >
    <div class="column gap">
    {% for station in stations %}
      {% render 'station_card' station: station %}
    {% else %}
    <div class="title title-large lg:title--xlarge">
      No stations matched criteria.
    </div>
    {% endfor %}
    </div>
  </div>
</div>

{% if stations.size < 6 %}
<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ bcycle_logo | base64_encode }}" />
  <span class="title">{{ system_name }} @ {{ last_updated | date: '%s' | plus: trmnl.user.utc_offset | date: '%b %-d, %-I:%M %P' }}</span>
</div>
{% endif %}
